
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	min-height: 100%;
	font-family: serif;
	background: #333;
	color: #aaa;
}

a {
	color: lightskyblue;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: white;
}

body {
	width: 95%;
	max-width: 900px;
	margin: auto;
	padding: 5% 0;
}

body > * + * {
	margin-top: 1em;
}
